footer
  .container.text-center
    p.float-left © 2019 B.R.O.T.H.E.R., Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='/credits') Credits
      li.list-inline-item
        a(href='/about-us') About us
      li.list-inline-item
        a(href='https://github.com/kumaranvram/brother') GitHub Project
      li.list-inline-item
        a(href='https://github.com/kumaranvram/brother') Issues
