extends layout

block content
  h1.red B.R.O.T.H.E.R.
  p.lead Blood Registry Online To Help Every Request
  hr
  .row
    .col-md-6
      h2 What is B.R.O.T.H.E.R.?
      p B.R.O.T.H.E.R. is an online blood donor registry to track blood donors in time of need. 
      p Anyone can register here as donor and when someone is in need of required blood group, they can reach the donors directly.
      p
        a.btn.btn-raised(href='#', role='button') About »
    .col-md-6
      h2 How can you help?
      p Register yourself as a donor. A timely help may even save a life
      p
        a.btn.btn-raised(href='#', role='button') Register as a donor »
    .col-md-6
      h2 Need Blood for your friend or family? 
      p Please post your requirement and let the donors get back to you. 
      p Alternatively you can also search for donors
      p
        a.btn.btn-raised(href='#', role='button') Post your requirement »
    .col-md-6
      h2 You have feedback, suggestions or improvements?
      p Please reach out to us in the contacts page.
      p
        a.btn.btn-raised(href='/contact', role='button') Contact Us »
    .col-md-6
      h2 Are you a developer?
      p Do you have ideas to make this application better? 
      p This is OpenSource. You are most welcome to contribute,
      p
        a.btn.btn-raised(href='http://github.com/kumaranvram/brother', role='button') Source »
    .col-md-6
      h4 Credits
      p This application was built on top of Sahat Yalkabov's hackathon starter. 
      p Tons of our ❤️to him
      p
        a.btn.btn-raised(href='https://github.com/sahat/hackathon-starter', role='button') Starter »
